<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            	<div class="col">
                   <h4>Contact us</h4>
                   <ul>
                        <li>Street:</li>
                        <li>Phone: | Fax: </li>
                        <li>Email: <a href="mailto:info@example.com" title="Email Us">info@example.com</a></li>
                        <li>Skype: <a href="skype:my.test?call" title="Skype us">Citra Megah Properti</a></li>
                    </ul>
                 </div>
            </div>
            
            <!--<div class="col-md-3">-->
            	<!--<div class="col">-->
                    <!--<h4>Mailing list</h4>-->
                    <!--<p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat.</p>-->
                    <!--<form class="form-inline">-->
                        <!--<div class="input-group">-->
                            <!--<input type="text" class="form-control" placeholder="Your email address...">-->
                            <!--<span class="input-group-btn">-->
                                <!--<button class="btn" type="button">Go!</button>-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
            
            <div class="col-md-3">
            	<div class="col col-social-icons">
                    <h4>Follow us</h4>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-flickr"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>

             <!--<div class="col-md-3">-->
             	<!--<div class="col">-->
                    <!--<h4>Latest News</h4>-->
                    <!--<p>-->
                    <!--Lorem ipsum dolor labitur scsstie per sit amet, ea eum labitur scsstie percipitoleat.-->
                    <!--<br><br>-->
                    <!--<a href="#" class="btn">Get Mores!</a>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>
         
    </div>
    
</footer>