<style>
  .panel-luar {
    padding: 10px;
  }
  .panel-heading {
    /*padding-bottom: 20px;*/
  }
  .panel-search {
    margin-top: 20px;
  }
</style>

<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-dashboard">
                </span><a href="/admin/dashboard">Dashboard</a>
      </h4>
    </div>
  </div>

    <!--Optional menu search -->
    <div class="panel panel-default">

      <% if params[:controller] == 'properties' %>
        <!--search form-->
        <%= render 'shared/searchform' %>
      <% end %>

    </div>

<!--Only Admin see below !-->
<% if user_signed_in? %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                </span>Main Menu</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                          <span class="glyphicon glyphicon-pencil text-primary"></span><a href="/admin/properties">List Property</a>
                        </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-picture text-primary"></span><a href="/admin/banners">List Banner</a>
                      </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Invoices</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Shipments</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Tex</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                </span>Manage User</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                  <tr>
                    <td>
                      <a href="/admin/users">User List</a>
                    </td>
                  </tr>
                    <tr>
                        <td>
                            <a href="/edit">Change Password</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Import/Export</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                Delete Account</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                </span>Reports</a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                  <tr>
                    <td>
                      <span class="glyphicon glyphicon-envelope"></span><a href="#">Inbox</a>
                    </td>
                  </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-usd"></span><a href="#">Sales</a>
                            <span style="color: #39b3d7"> ( Premium <i class="glyphicon glyphicon-star"></i>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-user"></span><a href="#">Customers</a>
                            <span style="color: #39b3d7"> ( Premium <i class="glyphicon glyphicon-star"></i>)</span>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-tasks"></span><a href="">Products</a>
                            <span style="color: #39b3d7"> ( Premium <i class="glyphicon glyphicon-star"></i>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-shopping-cart"></span><a href="#">Shopping Cart</a>
                            <span style="color: #39b3d7"> ( Premium <i class="glyphicon glyphicon-star"></i>)</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<% end %>
</div>