<section id="aboutUs">
  <div class="container">
    <div class="heading text-center"> 
      <!-- Heading -->
      <h2>About Us</h2>
      <p>We are Offering the Best Property Deals.</p>
    </div>
    <div class="row feature design">
      <div class="area1 columns right">
        <h3>Citra Megah Properti.</h3>
        <p>Citra Megah Properti adalah agen properti resmi yang telah mendapat Surat Ijin Perusahaan Perantara Perdagangan Properti (SIU-P4) dari Kementerian Perdagangan Republik Indonesia.</p>
        <p>Perusahaan kami berdiri dan menjalankan kegiatan usaha di kota Batam,  memberikan jasa perantara perdagangan properti  secara profesional mulai dari rumah, apartemen,  tanah hingga bangunan komersil dengan pelayananan yang maksimal.</p>
          <a href="#contactUs" class="btn">Contact Us</a>

      </div>
      <!--<div class="area2 columns feature-media left"> <img src="/theme/images/feature-img-1.png" alt="" width="100%"> </div>-->
      <div class="area2 columns feature-media left"> <img src="http://res.cloudinary.com/medioxtra/image/upload/c_scale,w_300/v1457684212/logocmp_wgrxen.png" alt="" width="100%"> </div>
    </div>

    <!--<div class="row dataTxt">	-->
						<!--<div class="col-md-4 col-sm-6">-->
							<!--<h4>What We Do?</h4>-->
							<!--<p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>-->
                            <!--<p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea.</p>-->
							<!---->
							<!--<br>-->
						<!--</div>-->
						<!---->
						<!--<div class="col-md-4 col-sm-6">-->
							<!---->
							<!--<h4>Why Choose Us?</h4>-->
							<!--<p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>-->
                            <!--<ul class="listArrow">-->
								<!--<li>Lorem ipsum dolor consectetursit amet, consectet</li>-->
								<!--<li>Has molestie percipit an. Falli volumus efficiantur</li>-->
								<!--<li>Falli volumus efficiantur sed id, ad vel noster</li>-->
								<!--<li>Lorem ipsum dolor consectetursit amet, consectetur</li>-->
								<!--<li>Ius ut etiam vivendo, graeci iudicabit constitutoa</li>-->
							<!--</ul>-->
							<!--&lt;!&ndash; Accordion starts &ndash;&gt;-->
							<!--</div>-->
						<!---->
						<!--<div class="col-md-4 col-sm-6">-->
							 <!--<img src="/theme/images/img.jpg" alt="" width="100%">-->
						<!--</div>-->
						<!---->
		<!--</div>-->

  </div>
</section>

