<style>
  .row-list {
    /*border: 1px solid #ccc;*/
  }
  .artikel {
    /*border: 1px solid #ff0000;*/
    /*background-color: #eee;*/ 
    padding-bottom: 30px;
  }
  

</style>

<section id="work" class="page-section page">
    <div class="container text-center">
      
    <div id="judul"></div>
    
    <script type="text/babel">
      ReactDOM.render(
        <h2>Kami menyediakan Properti terbaik yang sesuai dengan kebutuhan anda</h2>,
        document.getElementById('judul')
      );
    </script>

      <div class="row row-list">
        
        <% @properties.each do |property| %>
          <% property.images.each do |image| %>
            <div class="col-sm-6 col-md-4 artikel">
              <div class="thumbnail">
                <%= cl_image_tag(image.path ) %>
                <div class="caption text-left">
                  <h3>Thumbnail label</h3>
                  <p>Tulisan tulisan</p>
                  <p><a href="/<%= property.slug %>" class="btn btn-primary" role="button">lihat detail</a></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        
      </div>
    </div>
</section>