<style>
	.jumbotron {
		background-image: url("");
		background-color: #95b8e7;
		background-repeat: no-repeat;
		/*padding-bottom: 100%;*/
		margin-bottom: 0px;
	}
</style>

<div class="jumbotron">
  <div class="container text-center">
    <h1>CMPBatam.com <br><small>Under Maintenance..</small></h1>
  </div>
</div>
<div class="info">
	<!-- <address>
	  <strong>Twitter, Inc.</strong><br>
	  1355 Market Street, Suite 900<br>
	  San Francisco, CA 94103<br>
	  <abbr title="Phone">P:</abbr> (123) 456-7890
	</address>

	<address>
	  <strong>Full Name</strong><br>
	  <a href="mailto:#">first.last@example.com</a>
	</address> -->
</div>
